.Select {
  position: relative;

  &__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    display: none;

    @include media('<=mobile') {
      display: block;
    }
  }

  &__label {
    pointer-events: none;
    position: absolute;
    top: 9px;
    left: var(--gap-2x);
    font: var(--font-xs-bold);
    color: var(--color-black-secondary);
    transition-property: left;
    transition-duration: var(--animate-duration);
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: var(--gap-2x);
    transform: translateY(-50%);
  }
}
