.Banner {
  $imageWidth: 109px;

  border-top: solid var(--color-black-disabled) 1px;
  border-bottom: solid var(--color-black-disabled) 1px;
  width: 100%;
  text-align: left;

  &_disabled {
    cursor: initial;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 calc(var(--gap-3x) / (-2));

    & > * {
      margin: 0 calc(var(--gap-3x) / 2);
    }
  }

  &__content {
    max-width: 100%;
    flex: 1 1 $mobile-xs - $imageWidth;
    position: relative;
    padding: var(--gap-2x) 0;
    padding-left: 32px;
  }

  &__icon {
    position: absolute;
    left: 0;
    width: 24px;
  }

  &__image {
    flex: 0 0 auto;
    width: $imageWidth;
    height: 88px; 
    align-self: flex-end;
  }
}
